*{
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
    height: 100%;
}
body{
    top: 0px;
    height: 90%;
    z-index: 1;
}
main{
    margin-top: 60px;    
}
*, *:before, *:after{
    box-sizing: inherit;
}
* {
    background-color: black;
    background: url('./components/images/afbeeldingen/topbanner50.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: europa, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: rgba(255,255,255,1);
}
#Hexagon_logo_vector {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -34px;
    margin-top: 70px;
    width: 68px;    
}
.title{
    text-align: center;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    line-height: 1em;
    letter-spacing: 7px;
    text-transform: uppercase;
}
.block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 380px;
    height: 420px;
    padding-top: 140px;
    background-color: rgba(255,255,255,0);
}
.form-control{
    color:white !important;
    border-color:white !important;
    border-radius: 0px !important;
    background: rgba(0, 0, 0, .2) !important;
    margin-top: 25px !important;
    border-width: 1.2px !important;
    width: 380px !important;
}
.form-control::placeholder {
    color: rgba(255,255,255,1) !important;
}
.form-control:focus {
    box-shadow: 0 0 5px rgb(255, 153, 0) !important;
    border-color: rgba(255, 153, 0, .8) !important;
}
label{
    margin: 0px !important;
}
.custom-file-label{
    color:white !important;
    border-radius: 0px !important;
    background: rgba(0, 0, 0, .2) !important;
    border-width: 1.2px !important;
    border-color: white !important;
}
.custom-file{
    margin-top: 25px !important;
}
.custom-file-input:hover {
    cursor: pointer !important;
}
.right_align {
    text-align: right;
    margin-top: 10px;
}
.login_link {
    font-size: 12px;
    letter-spacing: 2px;
    color: white !important;
    text-transform: uppercase;
    text-decoration: none !important;
}
.button {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 143px;
    height: 61px;
    font-size: 20px;
    text-align: center;
    color: rgba(255,255,255,1);
    background: rgba(255,255,255,0);
    border-color: rgba(255,255,255,1);
    border-style: solid;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s;
}
.button_small { 
    width: 82px;
    height: 35px;
    border-width: 1.5px;
    margin: 0px;
    font-size: 14px;
}
.button:hover{
    color: rgb(0, 0, 0);
    background: rgba(255,255,255,1);
    font-weight: 600;    
}
.button:active{
    color: rgb(0, 0, 0);
    background: rgba(255,255,255,1);
    font-weight: 600;
}
.alert{
    color: rgb(255, 153, 0) !important;
    margin-top: 30px;
    text-align: center;
    border-radius: 0px !important;
    border-color: rgb(255, 153, 0) !important;
    background: rgba(0, 0, 0, .3) !important;
    font-size: 16px;
    border-style: solid none solid none !important;
    text-transform: uppercase;
    letter-spacing: 2px;
}
#welcome-image{    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 90%;
    max-width: 1012px;
}
.demo-web{
    display: block;
}
audio{
    display: inline-block;
    height: 40px !important;
    margin: 0px !important;
}
.demo-mobile{
    display: none;
}
.user_li{
    font-size: 20px;
    list-style-type: none;
    width: 250px;
    margin-top: 30px;  
    border-bottom: solid; 
    border-color: rgba(255, 153, 0, .8);    
}
.box{
    margin-left: 10%;
}
.demo-block{
    padding: 0px;
    margin-top: 30px !important;
}

@media (max-width: 750px){
    main{
        margin-top: 0px;
    }
    .title{
        font-size: 30px;
        letter-spacing: 2px;
    }
    #Hexagon_logo_vector {  
        width: 48px;
        margin-top: 60px;
        margin-left: -24px;
    }
    .block {
        margin-top: -50px;
        width: 290px;
        height: 400px;
    }
    .form-control{        
        width: 290px !important;
    }
    .button {
        width: 136px;
        height: 58px;             
        font-size: 17px;
    }
    .button_small {
        margin: 0px !important;
        display: inline-block !important;
        width: 75px;
        height: 35px;
        font-size: 13px;
        letter-spacing: 1px;
    }
    .alert{
        font-size: 14px;
        letter-spacing: 1px;
    }
    #welcome-image{    
        margin-top: 120px;
    }
    .demo-mobile{
        display: block;
        padding: 0px !important;
        margin-left: 5%;
        margin-right: 5%;
        max-width: 90%;
    }
    .audio_desc{
        display: flex;
        justify-content: space-between;
        width: 100% !important;
        margin: 0px;
    }
    .demo_li{
        list-style-type: none;
        margin: 0px 5px;        
    }
    audio{
        display: inline-block;
        max-width: 100% !important;
        height: 35px !important;
        margin: 0px !important;
    }
    .demo-web{
        display: none;
    }
    .user_li{
        font-size: 14px;
        list-style-type: none;
        width: 150px;
        margin-top: 15px;  
        border-bottom: solid; 
        border-color: rgba(255, 153, 0, .8);    
    }
    
}
